@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Alice&family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Lato:wght@300;400;700;900&family=Marcellus&family=Poltawski+Nowy:ital,wght@0,400..700;1,400..700&display=swap');
body{
font-family: "Advent Pro", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}